{% extends "base.html" %}

{% block page_title %}Sign Up | Reddit Heat Index{% endblock %}

{% block page_content %}
<div class="container">
    <form action="/user/signup" method="POST">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
          {{form.username.label(class="col-sm-2 col-form-label")}}
          <div class="col-sm-10">
            {{form.username(class="form-control")}}
                {% for error in form.username.errors %}
                    <small class="form-text text-danger">
                    {{error}}
                    </small>
                {% endfor %}
          </div>
        </div>
        <div class="row mb-3">
          {{form.password.label(class="col-sm-2 col-form-label")}}
          <div class="col-sm-10">
            {{form.password(class="form-control")}}
                {% for error in form.password.errors %}
                    <small class="form-text text-danger">
                    {{error}}
                    </small>
                {% endfor %}
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up!</button>
      </form>
</div>
{% endblock %}